
Bangalore_Cars Unstructured to Structured

In [2]:
import pandas as pd
import ast

# Load your Excel file
input_excel_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/bangalore_cars.xlsx"

# Read the Excel file into a pandas DataFrame
df = pd.read_excel(input_excel_path, engine='openpyxl')

output_csv_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/bangalore_cars_output.xlsx"

# Function to flatten the dictionary
def flatten_dict(d, parent_key='', sep='_'):
    items = []
    for k, v in d.items():
        new_key = f'{parent_key}{sep}{k}' if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        elif isinstance(v, list):
            for i, item in enumerate(v):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', sep=sep).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, v))
    return dict(items)

# Initialize empty DataFrames for each column
structured_details_df = pd.DataFrame()
structured_overview_df = pd.DataFrame()
structured_features_df = pd.DataFrame()
structured_specs_df = pd.DataFrame()
structured_links_df = pd.DataFrame()

# Process 'new_car_detail' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_detail']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_details_df = pd.DataFrame(flattened_data)

# Process 'new_car_overview' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_overview']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_overview_df = pd.DataFrame(flattened_data)

# Process 'new_car_feature' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_feature']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_features_df = pd.DataFrame(flattened_data)

# Process 'new_car_specs' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_specs']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_specs_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
structured_links_df = df[['car_links']].copy()

# Merge all structured DataFrames into one
bangalore_cars_Structured = pd.concat([structured_details_df, structured_overview_df, structured_features_df, structured_specs_df, structured_links_df], axis=1)

# Add the 'City' column
# Assign the city name to all rows; you can change 'YourCityName' to the desired city name
bangalore_cars_Structured['City'] = 'Bangalore'

# Save the merged DataFrame to a CSV file
bangalore_cars_Structured.to_csv(output_csv_path, index=False)

# Display the merged DataFrame
print(bangalore_cars_Structured)

      it      ft         bt        km transmission  ownerNo      owner  \
0      0  Petrol  Hatchback  1,20,000       Manual        3  3rd Owner
1      0  Petrol        SUV    32,706       Manual        2  2nd Owner
2      0  Petrol  Hatchback    11,949       Manual        1  1st Owner
3      0  Petrol      Sedan    17,794       Manual        1  1st Owner
4      0  Diesel        SUV    60,000       Manual        1  1st Owner
...   ..     ...        ...       ...          ...      ...        ...
1476   0  Diesel        SUV  1,56,039       Manual        2  2nd Owner
1477   0  Petrol      Sedan    56,000       Manual        2  2nd Owner
1478   0  Petrol  Hatchback    42,000       Manual        2  2nd Owner
1479   0  Diesel  Hatchback    93,003       Manual        1  1st Owner
1480   0  Petrol  Hatchback    36,000    Automatic        2  2nd Owner

          oem               model  modelYear  ...  data_2_list_11_value  \
0      Maruti      Maruti Celerio       2015  ...            235-litres
1        Ford       Ford Ecosport       2018  ...                   NaN
2        Tata          Tata Tiago       2018  ...                     5
3     Hyundai       Hyundai Xcent       2014  ...                     4
4      Maruti  Maruti SX4 S Cross       2015  ...                     5
...       ...                 ...        ...  ...                   ...
1476   Toyota     Toyota Fortuner       2012  ...                     5
1477   Maruti          Maruti SX4       2008  ...            505 litres
1478    Honda          Honda Brio       2014  ...            175-litres
1479  Hyundai         Hyundai i20       2018  ...                     5
1480  Hyundai   Hyundai Grand i10       2017  ...                     5

     commonIcon top_5_key top_5_value data_2_list_12_key data_2_list_12_value  \
0                     NaN         NaN                NaN                  NaN
1                   Seats           5                NaN                  NaN
2                   Seats           5       Cargo Volumn           242-litres
3                   Seats           5       Cargo Volumn           407-litres
4                   Seats           5       Cargo Volumn           353-litres
...         ...       ...         ...                ...                  ...
1476                Seats           7       Cargo Volumn           296-litres
1477                Seats           5                NaN                  NaN
1478                  NaN         NaN                NaN                  NaN
1479                Seats           5       Cargo Volumn           295-litres
1480                Seats           5       Cargo Volumn           256-liters

     data_1_list_8_key data_1_list_8_value  \
0                  NaN                 NaN
1                  NaN                 NaN
2                  NaN                 NaN
3                  NaN                 NaN
4                  NaN                 NaN
...                ...                 ...
1476               NaN                 NaN
1477               NaN                 NaN
1478               NaN                 NaN
1479               NaN                 NaN
1480               NaN                 NaN

                                              car_links       City
0     https://www.cardekho.com/used-car-details/used...  Bangalore
1     https://www.cardekho.com/buy-used-car-details/...  Bangalore
2     https://www.cardekho.com/used-car-details/used...  Bangalore
3     https://www.cardekho.com/buy-used-car-details/...  Bangalore
4     https://www.cardekho.com/used-car-details/used...  Bangalore
...                                                 ...        ...
1476  https://www.cardekho.com/used-car-details/used...  Bangalore
1477  https://www.cardekho.com/used-car-details/used...  Bangalore
1478  https://www.cardekho.com/used-car-details/used...  Bangalore
1479  https://www.cardekho.com/used-car-details/used...  Bangalore
1480  https://www.cardekho.com/used-car-details/used...  Bangalore

[1481 rows x 308 columns]


Chennai_Cars Unstructured to Structured

In [3]:
import pandas as pd
import ast

# Load your Excel file
input_excel_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/chennai_cars.xlsx"

# Read the Excel file into a pandas DataFrame
df = pd.read_excel(input_excel_path, engine='openpyxl')

output_csv_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/chennai_cars_output.xlsx"


# Function to flatten the dictionary
def flatten_dict(d, parent_key='', sep='_'):
    items = []
    for k, v in d.items():
        new_key = f'{parent_key}{sep}{k}' if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        elif isinstance(v, list):
            for i, item in enumerate(v):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', sep=sep).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, v))
    return dict(items)

# Initialize empty DataFrames for each column
structured_details_df = pd.DataFrame()
structured_overview_df = pd.DataFrame()
structured_features_df = pd.DataFrame()
structured_specs_df = pd.DataFrame()
structured_links_df = pd.DataFrame()

# Process 'new_car_detail' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_detail']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_details_df = pd.DataFrame(flattened_data)

# Process 'new_car_overview' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_overview']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_overview_df = pd.DataFrame(flattened_data)

# Process 'new_car_feature' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_feature']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_features_df = pd.DataFrame(flattened_data)

# Process 'new_car_specs' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_specs']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_specs_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
structured_links_df = df[['car_links']].copy()

# Merge all structured DataFrames into one
chennai_cars_Structured = pd.concat([structured_details_df, structured_overview_df, structured_features_df, structured_specs_df, structured_links_df], axis=1)

# Add the 'City' column
# Assign the city name to all rows; you can change 'YourCityName' to the desired city name
chennai_cars_Structured['City'] = 'Chennai'

# Save the merged DataFrame to a CSV file
chennai_cars_Structured.to_csv(output_csv_path, index=False)

# Display the merged DataFrame
print(chennai_cars_Structured)

      it      ft         bt      km transmission  ownerNo      owner  \
0      0  Petrol        SUV  20,000    Automatic        1  1st Owner
1      0  Petrol   Minivans  20,687       Manual        1  1st Owner
2      0  Petrol        SUV  30,000       Manual        1  1st Owner
3      0  Petrol  Hatchback  59,247       Manual        1  1st Owner
4      0  Petrol  Hatchback  50,000       Manual        1  1st Owner
...   ..     ...        ...     ...          ...      ...        ...
1414   0  Petrol  Hatchback  42,891    Automatic        1  1st Owner
1415   0  Diesel        SUV  59,100       Manual        1  1st Owner
1416   0  Petrol        SUV  55,913    Automatic        1  1st Owner
1417   0  Diesel        SUV  65,000    Automatic        1  1st Owner
1418   0  Diesel      Sedan  60,000    Automatic        1  1st Owner

             oem              model  modelYear  ...  top_5_key top_5_value  \
0            Kia          Kia Sonet       2022  ...        NaN         NaN
1         Maruti        Maruti Eeco       2015  ...        NaN         NaN
2         Nissan     Nissan Magnite       2021  ...      Seats           5
3        Hyundai        Hyundai i10       2015  ...        NaN         NaN
4          Honda         Honda Jazz       2015  ...      Seats           5
...          ...                ...        ...  ...        ...         ...
1414      Maruti       Maruti Swift       2018  ...        NaN         NaN
1415     Renault     Renault Duster       2018  ...      Seats           5
1416        Tata         Tata Nexon       2018  ...      Seats           5
1417  Volkswagen  Volkswagen Tiguan       2017  ...      Seats           5
1418         BMW    BMW 3 Series GT       2019  ...      Seats           5

     data_2_list_12_key data_2_list_12_value data_0_list_12_key  \
0                   NaN                  NaN                NaN
1                   NaN                  NaN                NaN
2                   NaN                  NaN                NaN
3                   NaN                  NaN                NaN
4          Cargo Volumn           354-litres                NaN
...                 ...                  ...                ...
1414                NaN                  NaN                NaN
1415       Cargo Volumn           475-litres                NaN
1416                NaN                  NaN                NaN
1417                NaN                  NaN                NaN
1418       Cargo Volumn                  520                NaN

     data_0_list_12_value data_1_list_8_key data_1_list_8_value  \
0                     NaN               NaN                 NaN
1                     NaN               NaN                 NaN
2                     NaN               NaN                 NaN
3                     NaN               NaN                 NaN
4                     NaN               NaN                 NaN
...                   ...               ...                 ...
1414                  NaN               NaN                 NaN
1415                  NaN               NaN                 NaN
1416                  NaN               NaN                 NaN
1417                  NaN               NaN                 NaN
1418                  NaN               NaN                 NaN

                                              car_links     City
0     https://www.cardekho.com/used-car-details/used...  Chennai
1     https://www.cardekho.com/buy-used-car-details/...  Chennai
2     https://www.cardekho.com/used-car-details/used...  Chennai
3     https://www.cardekho.com/buy-used-car-details/...  Chennai
4     https://www.cardekho.com/used-car-details/used...  Chennai
...                                                 ...      ...
1414  https://www.cardekho.com/used-car-details/used...  Chennai
1415  https://www.cardekho.com/used-car-details/used...  Chennai
1416  https://www.cardekho.com/used-car-details/used...  Chennai
1417  https://www.cardekho.com/used-car-details/used...  Chennai
1418  https://www.cardekho.com/used-car-details/used...  Chennai

[1419 rows x 313 columns]

Delhi_Cars Unstructured to Structured

In [5]:
import pandas as pd
import ast

# Load your Excel file
input_excel_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/delhi_cars.xlsx"
# Read the Excel file into a pandas DataFrame
df = pd.read_excel(input_excel_path, engine='openpyxl')

output_csv_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/delhi_cars_output.xlsx"
# Function to flatten the dictionary
def flatten_dict(d, parent_key='', sep='_'):
    items = []
    for k, v in d.items():
        new_key = f'{parent_key}{sep}{k}' if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        elif isinstance(v, list):
            for i, item in enumerate(v):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', sep=sep).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, v))
    return dict(items)

# Initialize empty DataFrames for each column
structured_details_df = pd.DataFrame()
structured_overview_df = pd.DataFrame()
structured_features_df = pd.DataFrame()
structured_specs_df = pd.DataFrame()
structured_links_df = pd.DataFrame()

# Process 'new_car_detail' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_detail']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_details_df = pd.DataFrame(flattened_data)

# Process 'new_car_overview' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_overview']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_overview_df = pd.DataFrame(flattened_data)

# Process 'new_car_feature' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_feature']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_features_df = pd.DataFrame(flattened_data)

# Process 'new_car_specs' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_specs']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_specs_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
structured_links_df = df[['car_links']].copy()

# Merge all structured DataFrames into one
delhi_cars_Structured = pd.concat([structured_details_df, structured_overview_df, structured_features_df, structured_specs_df, structured_links_df], axis=1)

# Add the 'City' column
# Assign the city name to all rows; you can change 'YourCityName' to the desired city name
delhi_cars_Structured['City'] = 'Delhi'

# Save the merged DataFrame to a CSV file
delhi_cars_Structured.to_csv(output_csv_path, index=False)

# Display the merged DataFrame
print(delhi_cars_Structured)

      it      ft         bt      km transmission  ownerNo      owner  \
0      0  Diesel        SUV  10,000    Automatic        1  1st Owner
1      0  Petrol        SUV  57,437       Manual        2  2nd Owner
2      0  Petrol        SUV   8,000    Automatic        1  1st Owner
3      0  Petrol  Hatchback  28,151       Manual        2  2nd Owner
4      0  Petrol        SUV  60,000       Manual        1  1st Owner
...   ..     ...        ...     ...          ...      ...        ...
1480   0  Petrol      Sedan  60,000    Automatic        1  1st Owner
1481   0  Petrol        SUV  20,000       Manual        1  1st Owner
1482   0  Petrol      Sedan  60,000       Manual        1  1st Owner
1483   0  Diesel        SUV  38,000       Manual        1  1st Owner
1484   0  Diesel        SUV   7,000    Automatic        0  0th Owner

                oem              model  modelYear  ...  data_1_list_8_key  \
0               Kia         Kia Seltos       2022  ...                NaN
1           Hyundai      Hyundai Creta       2016  ...                NaN
2     Mercedes-Benz  Mercedes-Benz GLC       2020  ...                NaN
3            Maruti       Maruti Swift       2018  ...                NaN
4           Hyundai      Hyundai Creta       2017  ...                NaN
...             ...                ...        ...  ...                ...
1480          Honda         Honda City       2019  ...                NaN
1481            Kia          Kia Sonet       2021  ...                NaN
1482        Hyundai      Hyundai Verna       2011  ...                NaN
1483        Hyundai      Hyundai Creta       2019  ...                NaN
1484             MG         MG Gloster       2023  ...                NaN

     data_1_list_8_value data_1_list_9_key data_1_list_9_value  \
0                    NaN               NaN                 NaN
1                    NaN               NaN                 NaN
2                    NaN               NaN                 NaN
3                    NaN               NaN                 NaN
4                    NaN               NaN                 NaN
...                  ...               ...                 ...
1480                 NaN               NaN                 NaN
1481                 NaN               NaN                 NaN
1482                 NaN               NaN                 NaN
1483                 NaN               NaN                 NaN
1484                 NaN               NaN                 NaN

     data_1_list_10_key data_1_list_10_value data_1_list_11_key  \
0                   NaN                  NaN                NaN
1                   NaN                  NaN                NaN
2                   NaN                  NaN                NaN
3                   NaN                  NaN                NaN
4                   NaN                  NaN                NaN
...                 ...                  ...                ...
1480                NaN                  NaN                NaN
1481                NaN                  NaN                NaN
1482                NaN                  NaN                NaN
1483                NaN                  NaN                NaN
1484                NaN                  NaN                NaN

     data_1_list_11_value                                          car_links  \
0                     NaN  https://www.cardekho.com/used-car-details/used...
1                     NaN  https://www.cardekho.com/buy-used-car-details/...
2                     NaN  https://www.cardekho.com/used-car-details/used...
3                     NaN  https://www.cardekho.com/buy-used-car-details/...
4                     NaN  https://www.cardekho.com/used-car-details/used...
...                   ...                                                ...
1480                  NaN  https://www.cardekho.com/used-car-details/used...
1481                  NaN  https://www.cardekho.com/used-car-details/used...
1482                  NaN  https://www.cardekho.com/used-car-details/used...
1483                  NaN  https://www.cardekho.com/used-car-details/used...
1484                  NaN  https://www.cardekho.com/used-car-details/used...

       City
0     Delhi
1     Delhi
2     Delhi
3     Delhi
4     Delhi
...     ...
1480  Delhi
1481  Delhi
1482  Delhi
1483  Delhi
1484  Delhi

[1485 rows x 320 columns]


Hyderabad_Cars Unstructured to Structured

In [6]:
import pandas as pd
import ast

# Load your Excel file
input_excel_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/hyderabad_cars.xlsx"

# Read the Excel file into a pandas DataFrame
df = pd.read_excel(input_excel_path, engine='openpyxl')

output_csv_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/hyderabad_cars_output.xlsx"
# Function to flatten the dictionary
def flatten_dict(d, parent_key='', sep='_'):
    items = []
    for k, v in d.items():
        new_key = f'{parent_key}{sep}{k}' if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        elif isinstance(v, list):
            for i, item in enumerate(v):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', sep=sep).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, v))
    return dict(items)

# Initialize empty DataFrames for each column
structured_details_df = pd.DataFrame()
structured_overview_df = pd.DataFrame()
structured_features_df = pd.DataFrame()
structured_specs_df = pd.DataFrame()
structured_links_df = pd.DataFrame()

# Process 'new_car_detail' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_detail']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_details_df = pd.DataFrame(flattened_data)

# Process 'new_car_overview' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_overview']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_overview_df = pd.DataFrame(flattened_data)

# Process 'new_car_feature' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_feature']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_features_df = pd.DataFrame(flattened_data)

# Process 'new_car_specs' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_specs']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_specs_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
structured_links_df = df[['car_links']].copy()

# Merge all structured DataFrames into one
hyderabad_cars_Structured = pd.concat([structured_details_df, structured_overview_df, structured_features_df, structured_specs_df, structured_links_df], axis=1)

# Add the 'City' column
# Assign the city name to all rows; you can change 'YourCityName' to the desired city name
hyderabad_cars_Structured['City'] = 'Hyderabad'

# Save the merged DataFrame to a CSV file
hyderabad_cars_Structured.to_csv(output_csv_path, index=False)

# Display the merged DataFrame
print(hyderabad_cars_Structured)

      it      ft         bt        km transmission  ownerNo      owner  \
0      0  Petrol  Hatchback    20,000    Automatic        1  1st Owner
1      0  Petrol  Hatchback    85,582       Manual        2  2nd Owner
2      0  Petrol        SUV    10,000       Manual        1  1st Owner
3      0  Petrol  Hatchback    50,750       Manual        1  1st Owner
4      0  Petrol        SUV    10,000    Automatic        1  1st Owner
...   ..     ...        ...       ...          ...      ...        ...
1478   0  Diesel        SUV    60,000       Manual        1  1st Owner
1479   0  Diesel      Sedan    50,000    Automatic        1  1st Owner
1480   0  Diesel      Sedan  1,20,000    Automatic        3  3rd Owner
1481   0  Diesel        SUV    50,000    Automatic        2  2nd Owner
1482   0  Diesel        MUV  1,00,000       Manual        1  1st Owner

             oem            model  modelYear  ...  data_2_list_10_value  \
0     Volkswagen  Volkswagen Polo       2022  ...                   280
1        Hyundai      Hyundai EON       2014  ...                     5
2        Hyundai    Hyundai Venue       2023  ...                   NaN
3         Maruti    Maruti Baleno       2017  ...                    16
4       Mahindra    Mahindra Thar       2022  ...                   NaN
...          ...              ...        ...  ...                   ...
1478    Mahindra  Mahindra XUV500       2013  ...                    17
1479      Jaguar        Jaguar XF       2014  ...                    20
1480         BMW     BMW 5 Series       2018  ...                   R18
1481        Tata       Tata Nexon       2019  ...                     5
1482      Toyota    Toyota Innova       2015  ...                    15

     commonIcon data_2_list_11_key data_2_list_11_value data_2_list_12_key  \
0                              NaN                  NaN                NaN
1                     Cargo Volumn           215-litres                NaN
2                              NaN                  NaN                NaN
3                  No Door Numbers                    5       Cargo Volumn
4                              NaN                  NaN                NaN
...         ...                ...                  ...                ...
1478               No Door Numbers                    5                NaN
1479               No Door Numbers                    4       Cargo Volumn
1480               No Door Numbers                    4       Cargo Volumn
1481                  Cargo Volumn                  350                NaN
1482               No Door Numbers                    5       Cargo Volumn

     data_2_list_12_value data_1_list_8_key data_1_list_8_value  \
0                     NaN               NaN                 NaN
1                     NaN               NaN                 NaN
2                     NaN               NaN                 NaN
3              339-litres               NaN                 NaN
4                     NaN               NaN                 NaN
...                   ...               ...                 ...
1478                  NaN               NaN                 NaN
1479           540-litres               NaN                 NaN
1480           520-litres               NaN                 NaN
1481                  NaN               NaN                 NaN
1482           300-litres               NaN                 NaN

                                              car_links       City
0     https://www.cardekho.com/used-car-details/used...  Hyderabad
1     https://www.cardekho.com/buy-used-car-details/...  Hyderabad
2     https://www.cardekho.com/used-car-details/used...  Hyderabad
3     https://www.cardekho.com/buy-used-car-details/...  Hyderabad
4     https://www.cardekho.com/used-car-details/used...  Hyderabad
...                                                 ...        ...
1478  https://www.cardekho.com/used-car-details/used...  Hyderabad
1479  https://www.cardekho.com/used-car-details/used...  Hyderabad
1480  https://www.cardekho.com/used-car-details/used...  Hyderabad
1481  https://www.cardekho.com/used-car-details/used...  Hyderabad
1482  https://www.cardekho.com/used-car-details/used...  Hyderabad

[1483 rows x 296 columns]

Jaipur_Cars Unstructured to Structured

In [7]:
import pandas as pd
import ast

# Load your Excel file
input_excel_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/jaipur_cars.xlsx"

# Read the Excel file into a pandas DataFrame
df = pd.read_excel(input_excel_path, engine='openpyxl')

output_csv_path ="C:/Users/nandh/OneDrive/Desktop/cardheko/jaipur_cars.xlsx"

# Function to flatten the dictionary
def flatten_dict(d, parent_key='', sep='_'):
    items = []
    for k, v in d.items():
        new_key = f'{parent_key}{sep}{k}' if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        elif isinstance(v, list):
            for i, item in enumerate(v):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', sep=sep).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, v))
    return dict(items)

# Initialize empty DataFrames for each column
structured_details_df = pd.DataFrame()
structured_overview_df = pd.DataFrame()
structured_features_df = pd.DataFrame()
structured_specs_df = pd.DataFrame()
structured_links_df = pd.DataFrame()

# Process 'new_car_detail' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_detail']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_details_df = pd.DataFrame(flattened_data)

# Process 'new_car_overview' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_overview']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_overview_df = pd.DataFrame(flattened_data)

# Process 'new_car_feature' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_feature']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_features_df = pd.DataFrame(flattened_data)

# Process 'new_car_specs' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_specs']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_specs_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
structured_links_df = df[['car_links']].copy()

# Merge all structured DataFrames into one
jaipur_cars_Structured = pd.concat([structured_details_df, structured_overview_df, structured_features_df, structured_specs_df, structured_links_df], axis=1)

# Add the 'City' column
# Assign the city name to all rows; you can change 'YourCityName' to the desired city name
jaipur_cars_Structured['City'] = 'Jaipur'

# Save the merged DataFrame to a CSV file
jaipur_cars_Structured.to_csv(output_csv_path, index=False)

# Display the merged DataFrame
print(jaipur_cars_Structured)

      it      ft         bt        km transmission  ownerNo      owner  \
0      0  Diesel  Hatchback  1,20,000       Manual        2  2nd Owner
1      0  Petrol  Hatchback    66,951       Manual        1  1st Owner
2      0  Petrol  Hatchback    80,000    Automatic        2  2nd Owner
3      0  Petrol  Hatchback    44,392       Manual        1  1st Owner
4      0  Petrol  Hatchback    40,000    Automatic        1  1st Owner
...   ..     ...        ...       ...          ...      ...        ...
1115   0  Petrol  Hatchback  1,20,000       Manual        1  1st Owner
1116   0  Petrol  Hatchback    70,000       Manual        1  1st Owner
1117   0  Petrol        SUV    20,000       Manual        1  1st Owner
1118   0  Petrol  Hatchback    40,000       Manual        1  1st Owner
1119   0  Petrol  Hatchback    80,000       Manual        1  1st Owner

            oem              model  modelYear  ...  data_1_list_8_key  \
0       Hyundai        Hyundai i20       2015  ...                NaN
1        Maruti       Maruti Swift       2012  ...                NaN
2        Maruti     Maruti Celerio       2016  ...                NaN
3       Hyundai  Hyundai Grand i10       2017  ...                NaN
4        Maruti     Maruti Wagon R       2016  ...                NaN
...         ...                ...        ...  ...                ...
1115  Chevrolet     Chevrolet Beat       2011  ...                NaN
1116     Maruti        Maruti Alto       2007  ...                NaN
1117    Renault      Renault Kiger       2022  ...                NaN
1118     Maruti        Maruti Alto       2009  ...                NaN
1119     Maruti      Maruti Baleno       2018  ...                NaN

     data_1_list_8_value data_1_list_9_key data_1_list_9_value  \
0                    NaN               NaN                 NaN
1                    NaN               NaN                 NaN
2                    NaN               NaN                 NaN
3                    NaN               NaN                 NaN
4                    NaN               NaN                 NaN
...                  ...               ...                 ...
1115                 NaN               NaN                 NaN
1116                 NaN               NaN                 NaN
1117                 NaN               NaN                 NaN
1118                 NaN               NaN                 NaN
1119                 NaN               NaN                 NaN

     data_1_list_10_key data_1_list_10_value data_1_list_11_key  \
0                   NaN                  NaN                NaN
1                   NaN                  NaN                NaN
2                   NaN                  NaN                NaN
3                   NaN                  NaN                NaN
4                   NaN                  NaN                NaN
...                 ...                  ...                ...
1115                NaN                  NaN                NaN
1116                NaN                  NaN                NaN
1117                NaN                  NaN                NaN
1118                NaN                  NaN                NaN
1119                NaN                  NaN                NaN

     data_1_list_11_value                                          car_links  \
0                     NaN  https://www.cardekho.com/used-car-details/used...
1                     NaN  https://www.cardekho.com/buy-used-car-details/...
2                     NaN  https://www.cardekho.com/used-car-details/used...
3                     NaN  https://www.cardekho.com/buy-used-car-details/...
4                     NaN  https://www.cardekho.com/used-car-details/used...
...                   ...                                                ...
1115                  NaN  https://www.cardekho.com/used-car-details/used...
1116                  NaN  https://www.cardekho.com/used-car-details/used...
1117                  NaN  https://www.cardekho.com/used-car-details/used...
1118                  NaN  https://www.cardekho.com/used-car-details/used...
1119                  NaN  https://www.cardekho.com/used-car-details/used...

        City
0     Jaipur
1     Jaipur
2     Jaipur
3     Jaipur
4     Jaipur
...      ...
1115  Jaipur
1116  Jaipur
1117  Jaipur
1118  Jaipur
1119  Jaipur

[1120 rows x 302 columns]

Kolkata_Cars Unstructured to Structured

In [8]:
import pandas as pd
import ast

# Load your Excel file
input_excel_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/kolkata_cars.xlsx"
# Read the Excel file into a pandas DataFrame
df = pd.read_excel(input_excel_path, engine='openpyxl')

output_csv_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/kolkata_cars_output.xlsx"
# Function to flatten the dictionary
def flatten_dict(d, parent_key='', sep='_'):
    items = []
    for k, v in d.items():
        new_key = f'{parent_key}{sep}{k}' if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        elif isinstance(v, list):
            for i, item in enumerate(v):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', sep=sep).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, v))
    return dict(items)

# Initialize empty DataFrames for each column
structured_details_df = pd.DataFrame()
structured_overview_df = pd.DataFrame()
structured_features_df = pd.DataFrame()
structured_specs_df = pd.DataFrame()
structured_links_df = pd.DataFrame()

# Process 'new_car_detail' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_detail']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_details_df = pd.DataFrame(flattened_data)

# Process 'new_car_overview' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_overview']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_overview_df = pd.DataFrame(flattened_data)

# Process 'new_car_feature' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_feature']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_features_df = pd.DataFrame(flattened_data)

# Process 'new_car_specs' column
flattened_data = []
for index, row in df.iterrows():
    unstructured_data = row['new_car_specs']
    unstructured_data = ast.literal_eval(unstructured_data)
    flattened_row = flatten_dict(unstructured_data)
    flattened_data.append(flattened_row)
structured_specs_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
structured_links_df = df[['car_links']].copy()

# Merge all structured DataFrames into one
kolkata_cars_Structured = pd.concat([structured_details_df, structured_overview_df, structured_features_df, structured_specs_df, structured_links_df], axis=1)

# Add the 'City' column
# Assign the city name to all rows; you can change 'YourCityName' to the desired city name
kolkata_cars_Structured['City'] = 'Kolkata'

# Save the merged DataFrame to a CSV file
kolkata_cars_Structured.to_csv(output_csv_path, index=False)

# Display the merged DataFrame
print(kolkata_cars_Structured)

      it      ft         bt        km transmission  ownerNo      owner  \
0      0  Petrol      Sedan    70,000    Automatic        3  3rd Owner
1      0  Petrol  Hatchback    23,981       Manual        1  1st Owner
2      0  Petrol        SUV     7,100    Automatic        1  1st Owner
3      0  Petrol  Hatchback    71,574       Manual        2  2nd Owner
4      0  Diesel        SUV    50,000    Automatic        2  2nd Owner
...   ..     ...        ...       ...          ...      ...        ...
1376   0  Petrol  Hatchback    10,000       Manual        1  1st Owner
1377   0  Petrol  Hatchback  1,20,000       Manual        1  1st Owner
1378   0  Petrol      Sedan    50,000    Automatic        3  3rd Owner
1379   0  Petrol  Hatchback    40,000       Manual        1  1st Owner
1380   0  Diesel        SUV  1,20,000       Manual        2  2nd Owner

                oem                  model  modelYear  ...  \
0            Toyota           Toyota Camry       2014  ...
1            Datsun          Datsun RediGO       2017  ...
2           Renault          Renault Kiger       2021  ...
3           Hyundai            Hyundai i20       2011  ...
4              Audi                Audi Q3       2014  ...
...             ...                    ...        ...  ...
1376         Maruti         Maruti Celerio       2022  ...
1377         Maruti        Maruti Alto 800       2014  ...
1378  Mercedes-Benz  Mercedes-Benz C-Class       2011  ...
1379         Maruti            Maruti Ritz       2012  ...
1380        Renault         Renault Duster       2017  ...

      data_2_list_11_key data_2_list_11_value data_2_list_12_key  \
0                    NaN                  NaN                NaN
1                    NaN                  NaN                NaN
2                    NaN                  NaN                NaN
3           Cargo Volumn              295 Lit                NaN
4        No Door Numbers                    5       Cargo Volumn
...                  ...                  ...                ...
1376                 NaN                  NaN                NaN
1377        Cargo Volumn           177-litres                NaN
1378     No Door Numbers                    4       Cargo Volumn
1379     No Door Numbers                    5       Cargo Volumn
1380     No Door Numbers                    5       Cargo Volumn

     data_2_list_12_value data_0_list_12_key data_0_list_12_value  \
0                     NaN                NaN                  NaN
1                     NaN                NaN                  NaN
2                     NaN                NaN                  NaN
3                     NaN                NaN                  NaN
4              460-litres                NaN                  NaN
...                   ...                ...                  ...
1376                  NaN                NaN                  NaN
1377                  NaN                NaN                  NaN
1378           475-litres                NaN                  NaN
1379           236-liters                NaN                  NaN
1380           410-litres                NaN                  NaN

     data_1_list_8_key data_1_list_8_value  \
0                  NaN                 NaN
1                  NaN                 NaN
2                  NaN                 NaN
3                  NaN                 NaN
4                  NaN                 NaN
...                ...                 ...
1376               NaN                 NaN
1377               NaN                 NaN
1378               NaN                 NaN
1379               NaN                 NaN
1380               NaN                 NaN

                                              car_links     City
0     https://www.cardekho.com/used-car-details/used...  Kolkata
1     https://www.cardekho.com/buy-used-car-details/...  Kolkata
2     https://www.cardekho.com/used-car-details/used...  Kolkata
3     https://www.cardekho.com/buy-used-car-details/...  Kolkata
4     https://www.cardekho.com/used-car-details/used...  Kolkata
...                                                 ...      ...
1376  https://www.cardekho.com/used-car-details/used...  Kolkata
1377  https://www.cardekho.com/used-car-details/used...  Kolkata
1378  https://www.cardekho.com/used-car-details/used...  Kolkata
1379  https://www.cardekho.com/used-car-details/used...  Kolkata
1380  https://www.cardekho.com/used-car-details/used...  Kolkata

[1381 rows x 304 columns]

Concate all 6 Structured_City Dataset to a New dataset

In [9]:
import pandas as pd
import os

# List of file paths for each city's dataset
file_paths = ["C:/Users/nandh/OneDrive/Desktop/cardheko/bangalore_cars_output.xlsx",
              "C:/Users/nandh/OneDrive/Desktop/cardheko/chennai_cars_output.xlsx",
              "C:/Users/nandh/OneDrive/Desktop/cardheko/delhi_cars_output.xlsx",
              "C:/Users/nandh/OneDrive/Desktop/cardheko/hyderabad_cars_output.xlsx",
              "C:/Users/nandh/OneDrive/Desktop/cardheko/jaipur_cars.xlsx",
              "C:/Users/nandh/OneDrive/Desktop/cardheko/kolkata_cars_output.xlsx"
]

# List to store the individual DataFrames
dataframes = []

# Loop through each file path and read the CSV file into a DataFrame
for file_path in file_paths:
    df = pd.read_csv(file_path)
    dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

# Save the combined DataFrame to the specified path
output_path = "C:/Users/nandh/OneDrive/Desktop/cardheko/Car_Dekho_Structured_Format.csv"
combined_df.to_csv(output_path, index=False)

print(f"All datasets concatenated and saved to {output_path}")

All datasets concatenated and saved to C:/Users/nandh/OneDrive/Desktop/cardheko/Car_Dekho_Structured_Format.csv